<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>derby.jdbcClassName</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>derby.dbUserName</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>derby.dbPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>derby.jdbcDriverURL</param-name>
        <param-value>jdbc:derby</param-value>
    </context-param>
    <context-param>
        <param-name>derby.dbHostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>derby.dbPort</param-name>
        <param-value>1527</param-value>
    </context-param>
    
    <context-param>
        <param-name>mysql.databaseName</param-name>
        <param-value>mysql</param-value>
    </context-param>
    <context-param>
        <param-name>mysql.jdbcClassName</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>mysql.dbUserName</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>mysql.dbPassword</param-name>
        <param-value>VinzJairus8461`</param-value>
    </context-param>
    <context-param>
        <param-name>mysql.jdbcDriverURL</param-name>
        <param-value>jdbc:mysql</param-value>
    </context-param>
    <context-param>
        <param-name>mysql.dbHostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>mysql.dbPort</param-name>
        <param-value>3310</param-value>
    </context-param>
    <context-param>
        <param-name>mysql.connectionProperties</param-name>
        <param-value>?zeroDateTimeBehavior=CONVERT_TO_NULL</param-value>
    </context-param>

    <context-param>
        <param-name>postgres.databaseName</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>postgres.jdbcClassName</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>postgres.dbUserName</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>postgres.dbPassword</param-name>
        <param-value>VinzJairus8461`</param-value>
    </context-param>
    <context-param>
        <param-name>postgres.jdbcDriverURL</param-name>
        <param-value>jdbc:postgresql</param-value>
    </context-param>
    <context-param>
        <param-name>postgres.dbHostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>postgres.dbPort</param-name>
        <param-value>5432</param-value>
    </context-param>
    <context-param>
        <param-name>postgres.connectionProperties</param-name>
        <param-value/>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
        <init-param>
            <param-name>SecretKey</param-name>
            <param-value>pimentel67tomale</param-value>
        </init-param>
        <init-param>
            <param-name>CaptchaSecretKey</param-name>
            <param-value>6LfuAPIsAAAAAGuMrWw28J4yd79bJHQKpfOAf_9f</param-value>
        </init-param>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>exception.InvalidSession</exception-type>
        <location>/ErrorPages/error_session.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exception.AuthenticationException</exception-type>
        <location>/ErrorPages/error_3.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
